.fullpage{
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color:rgb(216, 216, 216);
}

.container{  
    min-width: 350px;
    min-height: 350px;
    width: 40%;
    height: 50%;
    border-radius: 25px;
    display: flex;
    padding: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block; 
    background-color: white;
    position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)

}
.card {

    width: 100%;
    height: 100%;
    border-radius: 12px;
    min-width: 100%;
    min-height: 100%;
    box-shadow: 10px, 10px, black;
    display: flex;
    padding: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    

}
input[type=text] {
    margin: 15px;
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    display: flex;
    padding: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: left;

}
input[type=password] {
    margin: 15px;
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: left;

}

button {
    border-radius: 25px;
    background-color: lightblue;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    width: 70%;
    height: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
    text-align:center
    
}




